/* Configuración básica para el cuerpo */
body, html {
    margin: 0;
    padding: 0;
   
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
   
  }
  
  /* Fondo con la imagen */
  body {
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background: url('../images/fondoLogin.jpg') no-repeat center center fixed;
    background-size: cover;
   align-items: end;
   margin-right:5% ;
  }
  .container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav{
    color: #fff;
    width: 100%;
  }
  nav a{
    color: #ddd;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all .5s;
  }
  nav a:hover{
    color: #60db67;
font-size: 1.7rem; 
  box-shadow: 10px ,10px ,2px;
 }
  ol{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: larger;
  }
  .logo-container{
    width: 100%;
    max-width: 250px;
  }
  .logo-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  /* Contenedor del formulario de inicio de sesión */
  .login-container {
    background-color: rgba(255, 255, 255, 0); /* Fondo semitransparente */
    
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 550px;
    height: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
align-items: center;  }
  
  .login-form{
    height: 100%;
    width: 80%;
  }
  /* Título del formulario */
   h2 {
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  /* Estilos para los campos de entrada */
  .login-form label {
    display: block;
    text-align: left;
    color: #f3f3f3;
    margin-bottom: 5px;
    margin-left: 1rem;
  }
  
  .login-form input[type="email"],
  .login-form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    outline: none;
    transition: all 1.5s;
  }
input:focus{
  border: 3px solid green;
}
  /* Estilos del botón de inicio de sesión */
  .login-form button {

               background-color: #000;
               border:1px solid white;
               color: #33b54b;
               padding: 12px;
               border-radius: 4px;
               cursor: pointer;
               font-size: 18px;
               width: 50%;

  }
  
 .login-form button:hover {
                  background: linear-gradient(90deg, #7601eb, #1100cc); /* Cambia el gradiente al pasar el cursor */
                  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Incrementa la sombra */
                  transform: translateY(-2px); /* Mueve ligeramente hacia arriba */
                  color:white;
          }
  p{
    color: #ddd;
  }
  form a:hover{
    color :white;
  }