<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/nav.css}"/>

</head>
<body>
    <nav>
    <ul>
        <li><a th:href="@{/ver-home}">Home</a></li>
        <li class="dropdown">
            <a href="#">Alimentos</a>
            <ul class="submenu">
                <li><a href="#">Registrar Alimentos</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Ejercicio</a>
            <ul class="submenu"></ul>
        </li>
        <li class="dropdown">
            <a href="#">Calculadora</a>
            <ul class="submenu">
                <li><a href="#">Calcular calorias</a></li>
                <li><a th:href="@{/calculadoraIMC}">Calcular IMC</a></li>
            </ul>
        </li>
        <!-- Nuevo ítem para el perfil de usuario -->
        <li><a th:href="@{/perfilusuario}">Perfil del Usuario</a></li>
    </ul>
</nav>


</body>
</html>