<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/calendario.css}"/>

    <title>Title</title>
</head>
<body>
<div class="calendario">
    <div th:each="listaAlimentos, iterStat : ${alimentos}">
        <div class="calendario">
            <div class="dia">
                <!-- Usar iterStat.index con el título dinámico -->
                <h3 th:text="'Día ' + (${iterStat.count})"></h3>

                <div class="comida">
                    <strong>Desayuno:</strong>
                    <p th:text="${listaAlimentos[0].getNombre()}" ></p>
                </div>
                <div class="comida">
                    <strong>Almuerzo:</strong>
                    <p th:text="${listaAlimentos[1].getNombre()}" ></p>
                </div>
                <div class="comida">
                    <strong>Merienda:</strong>
                    <p th:text="${listaAlimentos[2].getNombre()}" ></p>
                </div>
                <div class="comida">
                    <strong>Cena:</strong>
                    <p th:text="${listaAlimentos[3].getNombre()}" ></p>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>