<nav>
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li class="dropdown">
            <a href="#">Alimentos</a>
            <ul class="submenu">
                <li><a id="url-RegistrarAlimento" th:href="@{/ver-Registrar-alimentos}">Registrar Alimentos</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Ejercicio</a>
            <ul class="submenu">
                <li><a th:href="@{/ver-Rutina}">Ver Rutina</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Calculadora</a>
            <ul class="submenu">
                <li><a th:href="@{/calculadoraIMC}">Calcular IMC</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Dieta</a>
            <ul class="submenu">
                <li><a th:href="@{/listaComidas}">Lista de comidas para este mes</a></li>
            </ul>
        </li>
        <li><a th:href="@{/recetas}">Recetas</a></li>

        <li class="dropdown perfil-usuario">
            <a href="#" class="perfil-link">
                <th:block th:if="${#httpSession.getAttribute('TIPO') == 'PREMIUM'}">
                    <span class="premium-badge">Premium</span>
                </th:block>
                <img th:src="@{${#httpSession.getAttribute('FOTOPERFIL')}}" alt="Usuario" class="icono-usuario"/>
                <span th:text="${#httpSession.getAttribute('NOMBRE')} + ' ' + ${#httpSession.getAttribute('APELLIDO')}">
                </span>
                <!-- Mostrar icono o texto si es usuario premium -->

            </a>
            <ul class="submenu">
                <li><a th:href="@{/perfilusuario}">Mi perfil</a></li>
                <li><a th:href="@{/logout}">Cerrar sesión</a></li>
            </ul>
        </li>
    </ul>
</nav>
