<nav>
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li class="dropdown">
            <a href="#">Alimentos</a>
            <ul class="submenu">
                <li><a id="url-RegistrarAlimento" th:href="@{/ver-Registrar-alimentos}">Registrar Alimentos</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Ejercicio</a>
            <ul class="submenu">
                <li><a th:href="@{/ver-Rutina}">Ver Rutina</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Calculadora</a>
            <ul class="submenu">
                <li><a href="#">Calcular calorias</a></li>
                <li><a th:href="@{/calculadoraIMC}">Calcular IMC</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">Dieta</a>
            <ul class="submenu">
                <li><a th:href="@{/listaComidas}">lista de comidas para esta mes</a></li>
            </ul>
        </li>
        <li><a th:href="@{/recetas}">Recetas</a></li>
        <li><a th:href="@{/perfilusuario}">Perfil del Usuario</a></li>
    </ul>
</nav>
