<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/perfil.css}"/>

    <link rel="stylesheet" th:href="@{/css/nav.css}"/>
    <script src="https://sdk.mercadopago.com/js/v2"></script>

</head>
<body>

<div th:replace="nav :: nav"></div>
<div class="container">
    <section class="section-foto-perfil">
        <div class="foto-perfil">
            <img th:src="@{images/logoLogin.png}" alt="" srcset="">
        </div>
        <button onmouseover="quitarTexto(this)" onmouseout="restaurarTexto(this)" class="btn proximamente-btn" type="submit">cambiar foto</button>
    </section>
    <section class="section-info-personal">
        <div class="info-personal">
            <h1 th:text="${nombre}+' '+${apellido}"></h1>
            <div class="info">
                <div class="info-item">
                    <h3>Objetivo de Salud:</h3>
                    <p th:text="${objetivoSalud}"></p>
                </div>
                <div class="info-item">
                    <h3>Preferencia Alimenticia:</h3>
                    <p  th:text="${preferenciaAlimenticia}" ></p>
                </div>
                <div class="info-item">
                    <h3>Restricciones Alimenticias:</h3>
                    <p th:text="${restrincionesAlimentarias}"></p>
                </div>
                <div class="info-item">
                    <h3>Información Adicional:</h3>
                    <p th:text="${informacionAdicional}" ></p>
                </div>
            </div>
            <a href="mostrarFormulario" class="edit-btn">
                <button class="btn" type="submit">Editar Perfil</button></a>

        </div>
    </section>
</div>

</body>
<script th:src="@{/js/nav-link.js}"></script>
<script>
    function quitarTexto(btn) {
  btn.innerHTML = ''; // Borra el texto del botón cuando el ratón entra
}

function restaurarTexto(btn) {
  btn.innerHTML = 'cambiar foto de perfil'; // Restaura el texto cuando el ratón sale

}

</script>
<script>
</script>
</html>