<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Resultado de IMC</title>

</head>
<body>

   <!-- <p th:text="'Tu genero es: ' + ${genero}"></p>
    <p th:text="'Tu edad es: ' + ${edad}"></p>
    <p th:text="'Tu altura es: ' + ${altura}"></p>
    <p th:text="'Tu peso es: ' + ${peso}"></p>
   -->
    <p th:text="'Tu indice de masa corporal es: ' + ${imc}"></p>
    <p th:text="'Segun tu IMC y genero clasificas como: ' + ${clasificacion}"></p>


</body>
</html>