<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de IMC</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/nav.css}"/>
    <link rel="stylesheet" th:href="@{/css/calculadoraIMC.css}"/>
    <link rel="stylesheet" th:href="@{/css/resultadoIMC.css}"/>

</head>
<body>


<div th:replace="nav :: nav"></div>


<div class="container mt-5">


<div class="container result-container">
    <div class="row justify-content-center">
        <div class="col-md-6 cartel">
            <div class="result-card p-4 text-center">
                <h2 class="result-title">Resultado del IMC</h2>

                <p class="result-text" th:text="'Tu índice de masa corporal es: ' + ${imc}"></p>
                <p class="result-text" th:text="'Según tu IMC clasificas como: ' + ${clasificacion}"></p>

                <a href="calcularMacro" class="btn btn-primary btn-back">Volver al cálculo</a>
            </div>
        </div>
    </div>
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script th:src="@{/js/nav-link.js}"></script>

</html>
